<% if logged_in? %>

<h1><%= current_user.name %>のタスク一覧</h1>
<div>
<%= link_to '新規タスクの作成', new_task_path %>
</div>

<ul>
    
    <% @tasks.each do |task| %>
    
    <li>
        <%= link_to task.id, task_path(task) %>
        <%= task.created_at %>
        
        <%= task.status %>
        &gt;
        <%= task.content %>
    </li>
    
    <% end %>
    
</ul>
<%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
<h1>タスク管理</h1>

<div>
<%= link_to 'Login', login_path %>
</div>
<div>
<%= link_to 'Sign up now!', signup_path %>
</div>
<% end %>